<main class="main">
  <article class="article-content">

    <section class="article-content__banner">
      <img src="../../assets/images/article-head-img.png" alt="" class="article-content__image">

      <article class="wrapper">

        <section class="article-content__header">
          <section class="article-content__info">
            <article class="article-date">
              <p class="article-date__text">sep 7</p>
            </article>
            <article class="article-views">
              <img src="../../assets/images/icon-views.png" alt="icon-views" class="article-views__icon">
              <p class="article-views__num">1027</p>
            </article>
            <article class="article-category">
              <p class="article-category__text">Продажи и сервис</p>
            </article>
            <article class="article-title">
              <p class="article-title__text">Привычки успешных людей. Почему преуспевают немногие</p>
            </article>
          </section>
        </section>

      </article>
    </section>

    <section class="article-content__layout">
      <section class="layout-left">

        <p class="article-content__text">
          Эта рассылка для тех, кто не хочет попадаться на удочку расчетливых маркетологов или, наоборот, находит эффект плацебо полезным
          для своего бизнеса и хочет использовать его на практике. На заводах в Свердловской области провели исследование
          уровня удовлетворенности сотрудников.
        </p>
        <p class="article-content__text">
          На одном из заводов, помимо зарплаты и отсутствия курилки, рабочих не устраивала удаленность туалета: от станка до уборной
          приходилось идти почти 500 метров.
        </p>
        <p class="article-content__text">
          Анализ показал — возможности перенести туалеты ближе нет. Тогда в туалете сделали ремонт. Прежний страшный сортир обзавелся
          яркой плиткой, отдельными кабинками, автоматическими сушилками и уборщицей. Облагороженный санузел продемонстрировал
          заботу руководства. После этой незначительной перемены показатели труда выросли и выросла удовлетворенность. По
          сути, ситуация не изменилась, но проявленное внимание к проблеме кардинально изменило и отношение рабочих.
        </p>

        <img class="article-content__img" src="../../assets/images/article-inner-img.png" alt="article-img" >

        <p class="article-content__text">
          Эта рассылка для тех, кто не хочет попадаться на удочку расчетливых маркетологов или, наоборот, находит эффект плацебо полезным
          для своего бизнеса и хочет использовать его на практике. На заводах в Свердловской области провели исследование
          уровня удовлетворенности сотрудников.
        </p>
        <p class="article-content__text">
          На одном из заводов, помимо зарплаты и отсутствия курилки, рабочих не устраивала удаленность туалета: от станка до уборной
          приходилось идти почти 500 метров.
        </p>
        <img class="article-content__img" src="../../assets/images/article-inner-img-2.png" alt="article-img" >
        <p class="article-content__text">
          Так же действует компания записных книжек «Молескин». Большую Часть рекламного бюджета они тратят на продакт-плейсмент.На
          телеэкранах узнаваемыми блокнотами пользуются Амели, доктор Хаус, Шерлок Холмс (BBC), герои сериалов «Сверхъестественное»,
          «Доктор Кто» и другие. Поклонникам героев автоматически кажется, что, приобретая блокнот, они приобретают черты
          характера любимого персонажа.
        </p>
        <p class="article-content__text">
          Невозможно изменить покупателя. Но можно дать ему инструмент для решения проблемы. Решение проблемы и желание меняться дает
          нужный эффект. Значит, задача компании — правильно настроить покупателя на успех. Тогда
        </p>

      </section>

      <section class="layout-right">
        <section class="layout-right__inner">

          <article class="article-context__banner">
            <img src="../../assets/images/adv-image-3.png" alt="" class="banner__advertising">
          </article>

          <article class="article-context__posts">

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Бесплатная школа программирования UNIT Factory запустила второй набор студентов на второй</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="../../assets/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Школа программирования UNIT Factory запустила студентов на второй</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="../../assets/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Factory запустила второй набор студентов на</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="../../assets/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

          </article>
        </section>
      </section>
    </section>

  </article>
</main>