<!--header-->

<header class="header">

  

    <section class="header-advertisment">
      <article class="wrapper">
        <img src="../../assets/images/adv-image-1.png" alt="" class="header-advertisment__img">
      </article>
    </section>

    <section class="header-navigation">
      <article class="wrapper">
        <section class="header__logo">
          <a class="logotype" href="#"><img src="../../assets/images/bt-front-logo.png" alt="bt-logo"></a>
        </section>

        <nav class="header__navbar">
          <ul class="navbar-ul">
            <li class="navbar-ul__item navbar-ul__item--active">
              <a href="#">
                <img class="navbar-ul__img" src="../../assets/images/icon-home.png" alt="home-icon">
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">
                <img class="navbar-ul__img" src="../../assets/images/icon-calendar.png" alt="calendar-icon">
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">
                <p class="navbar-ul__text">Личный<br>опыт</p>
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">
                <p class="navbar-ul__text">Продажи<br> и сервис</p>
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">    
                <p class="navbar-ul__text">Мрктнг</p>
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">
                <p class="navbar-ul__text">Эффектвнст</p>
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
            <li class="navbar-ul__item">
              <a href="#">
                <p class="navbar-ul__text">Бизнес-<br>инструменты</p>
                <div class="navbar-ul__arrow"></div>
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </section>

  <div class="header__arrow"></div>
</header>